<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>GistBoard</title>
</head>

<body>

  <div class="clearfix">
    <div class="navbar">
      <div class="navbar-inner">
        <h1>GistBoard</h1>
      </div>
    </div>

    <div class="container">
			
			

      <div class="info-panel grid_1">
        <div class="grav-img">
				
            <a href="https://gist.github.com/jhulley"> 
					
            <img class="user-grav" src="https://1.gravatar.com/avatar/9814cc0037669a4bce0bfd7721841cb1?d=https%3A%2F%2Fidenticons.github.com%2F13168fb671a954cd64f1a8fa1f4f7d65.png&r=x&s=460">
          </a>
        </div>
        <div class="info-sub-panel">
				
        <a class="username-link" href="https://gist.github.com/jhulley"><h2>jhulley</h2></a> <!-- put username and url here -->
				
        <div class="user-info">
          <div class="stat">
            <h3>12</h3>
            <p>Total gists</p>
          </div>
          <div class="stat">
            <h3>34</h3>
            <p>Total comments</p>
          </div>
        </div>
      </div>
      </div>
			
			

      <div class="content grid_3">
        <div class="gist-table">
          <div class="table-header">
            <h2>Gists</h2>
          </div>
          <table>

            <% gist_container.container.each do |gist|  %>
              <tr>
                <td class="file"><a href="<%= gist.url %>"><%= gist.file %></a></td>
                <td class="comment-count">Comments: <%= gist.num_of_comments %></td>
                <td class="table-punc">/</td>
                <!-- <td class="latest-comment">Latest: February 19, 2009 00:00</td> -->
                <td class="latest-comment"><%= gist.most_recent_comment_date %></td>
              </tr>
            <% end %>

          </table>
        </div>
      </div>


      <div class="keep-for-test">
        <p>
          We're going to now talk to the GitHub API. Ready?
          <a href="/auth">Click here</a> to begin!</a>
        </p>
        <p>
          If that link doesn't work, remember to provide your own <a href="/v3/oauth/#web-application-flow">Client ID</a>!
        </p>
      </div>
    </div>
  </div>
</body>
</html>