<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>GistBoard</title>
</head>

<body>

  <div class="clearfix">
    <div class="navbar">
      <div class="navbar-inner">
        <h1>GistBoard</h1>
      </div>
    </div>

    <div class="container">
      <div class="keep-for-test">
        <p>
          We're going to now talk to the GitHub API. Ready?
          <a href="/auth">Click here</a> to begin!</a>
        </p>
        <p>
          If that link doesn't work, remember to provide your own <a href="/v3/oauth/#web-application-flow">Client ID</a>!
        </p>
      </div>
    </div>
  </div>
</body>
</html>