body {
	color: #000000;
	background-color: #FFFFFF;
	font-family: Helvetica, arial, sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #4183c4;
}

.container {
	max-width: 980px;
	margin: 20px auto 20px auto;
}

.grid_1 {
	width: 25%;
}

.grid_2 {
	width: 50%;
}

.grid_3 {
	width: 75%;
}

.grid_4 {
	width: 100%
}

.navbar {
	position: fixed-top;
  background-color: #F3F3F3;
	text-align: center;
	width: 100%;
	z-index: 10;
	height: 40px;
	border-bottom: 1px solid #EEEEEE;
}

.navbar h1 {
	padding-top: 5px;
	font-size: 30px;
	margin: 0;
}

table {
	width: 97%;
	margin: 0 1.5% 0 1.5%;
}

.user-grav {
	max-width: 230px;
	max-height: 230px;
	border-radius: 6px;
}

.username-link {
	padding: 10px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.username-link:hover {
	color: #4183c4;
}

.info-panel {
	float: left;
}

.user-info {
	border-top: 1px solid #d5d5d5;
	margin-right: 10px;
	margin-bottom: 10px;
}

.stat {
	width: 50%;
	float: left;
	text-align: center;
}

.stat h3 {
	font-size: 2em;
	margin-top: 10%;
}

.stat p {
	font-size: .750em;
}

.content {
	float: left;
}

/* Table formatting */

.table-header {
	height: 36px;
	background: #EAEAEA;
	background-image: linear-gradient(#fafafa, #eaeaea);
	border-bottom: 1px solid #d5d5d5;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.table-header h2 {
	font-size: 20px;
	padding: 7px 10px 6px 10px;
}

.gist-table {
	width: 100%;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
}

.file {
	width: 40%;
	padding: 10px 0 0 0;
}

.file {
	font-weight: bold;
}

.comments {
	border-bottom: 1px solid #d5d5d5;
	font-size: .750em;
	padding: 5px 0 10px 0;
}

.com-count {
	font-weight: bold;
}

.table-punc {
	margin: 0 1% 0 1%;
	font-weight: bold;
}

.keep-for-test {
	border-top: 1px solid #d5d5d5;
	clear: both ;
	text-align: center;
}

.keep-for-test a {
	font-weight: bold;
	text-decoration: underline;
}

@media screen and (max-width: 1024px){
	.container {
		width: 90%;
	}

	.grid_3 {
		width: 100%;
		margin-bottom: 25px;
	}

	.grid_1 {
		width: 100%;
		margin-bottom: 25px;
	}

	.grav-img {
		float: left;
	}

	.info-sub-panel {
		float: left;
	}

	.grav-img img {
		max-width: 100px;
	}

	.info-panel {
		border-bottom: 1px solid #d5d5d5;
		padding-bottom: 25px;
	}

	.info-sub-panel {
		float: left;
		padding-left: 10%;
	}

	.username-link {
		float: left;
	}

	.user-info {
		clear: both;
		float: left;
		display: inline;
		border-top: none;
	}

	.stat {
		width: 25%;
		text-align: center;
		display: inline;
		margin: 20px 10px 20px 10px;
	}
}

@media screen and (max-width: 760px){
	.username-link {
		margin-top: 30px;
	}

	.username-link h2 {
		font-size: 1.000em;
	}
	
}

@media screen and (max-width: 480px){

	.stat h3 {
		font-size: 1.5em;
	}

	.stat p {
		font-size: .5em;
	}
}


