body {
	color: #000000;
	background-color: #FFFFFF;
	font-family: Helvetica, arial, sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #4183c4;
}

.container {
	max-width: 980px;
	margin: 20px auto 20px auto;
}

.grid_1 {
	width: 25%;
}

.grid_2 {
	width: 50%;
}

.grid_3 {
	width: 75%;
}

.grid_4 {
	width: 100%
}

.navbar {
	position: fixed-top;
	background-color: #F3F3F3;
	text-align: center;
	width: 100%;
	z-index: 10;
	height: 40px;
	border-bottom: 1px solid #EEEEEE;
}

.navbar h1 {
	padding-top: 5px;
	font-size: 30px;
	margin: 0;
}

table {
	width: 97%;
	margin: 0 1.5% 0 1.5%;
}

.user-grav {
	max-width: 230px;
	max-height: 230px;
	border-radius: 6px;
	width: 100%;
}

.username-link {
	padding: 10px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.username-link:hover {
	color: #4183c4;
}

.info-panel {
	float: left;
}

.all-stats {
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;
	width: 100%;
	overflow: auto;
}

.user-info {
	margin-right: 10px;
	margin-bottom: 10px;
}

.info-sub-panel {
	/* border-bottom: 1px solid #d5d5d5; */
	text-align: center;
	margin: 20px 0 20px 0;
}

.stat {
	width: 50%;
	float: left;
	text-align: center;
}

.stat h3 {
	font-size: 2em;
	margin-top: 10%;
}

.stat p {
	font-size: .750em;
}

.content {
	float: left;
	margin-bottom: 20px;
}

/* Table formatting */

.table-header {
	height: 36px;
	background: #EAEAEA;
	background-image: linear-gradient(#fafafa, #eaeaea);
	border-bottom: 1px solid #d5d5d5;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

tr {
	max-width: 100%;
}

.table-header h2 {
	font-size: 20px;
	padding: 7px 10px 6px 10px;
}

.gist-table {
	width: 100%;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
}

.file {
	padding: 10px 0 0 0;
}

.file {
	font-weight: bold;
}

.comments {
	border-bottom: 1px solid #d5d5d5;
	font-size: .750em;
	padding: 5px 0 10px 0;
}

.last {
	border-bottom: none;
}

.com-count {
	font-weight: bold;
}

.table-punc {
	margin: 0 1% 0 1%;
	font-weight: bold;
}

.footer {
	border-top: 1px solid #d5d5d5;
	clear: both ;
	text-align: center;
}

.footer a {
	font-weight: bold;
	text-decoration: underline;
}

.copy {
	font-size: .750em;
}

/* Tablets and phones */
@media screen and (max-width: 1024px){

	.container {
		width: 90%;
	}

	.grid_3 {
		width: 100%;
		margin-bottom: 25px;
	}

	.grid_1 {
		width: 100%;
		margin-bottom: 25px;
	}

	.grav-img {
		float: left;
	}

	.info-sub-panel {
		float: left;
		border-bottom: none;
		padding-left: 10px;
	}

	.grav-img img {
		max-width: 100px;
	}

	.info-panel {
		border-bottom: 1px solid #d5d5d5;
		padding-bottom: 25px;
	}

	.info-sub-panel {
		display: block;
		float: left;
		padding-left: 10px;
		margin: 0 0 10px 0;
	}

	.username-link {
		float: left;
		margin-top: 5px;
		padding: 0;
		text-align: left;
	}

	.username-link h2 {
		font-size: 1.250em;
	}

	.user-info {
		float: left;
		display: inline;
		border-top: none;
		width: 66%;
		margin-right: 0;
	}

	.all-stats {
		display: block;
		border: none;
	}

	.stat {
		text-align: left;
		margin: 5px 10px 5px 10px;
		clear: both;
	}

	.stat h3 {
		font-size: 1.250em;
		display: inline;
	}

	.stat p {
		font-size: .750em;
		display: inline;
	}
}

@media screen and (max-width: 720px){

	.wrap {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	/*
	td {
		overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
	*/

}

